@font-face {
  font-family: 'Visuelt Pro';
  src: url('fonts/VisueltPro-Regular.eot');
  src:
    local('VisueltPro-Regular'),
    url('fonts/VisueltPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/VisueltPro-Regular.woff2') format('woff2'),
    url('fonts/VisueltPro-Regular.woff') format('woff'),
    url('fonts/VisueltPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VisueltPro-Black';
  src: url('fonts/VisueltPro-Black.eot');
  src:
    local('VisueltPro-Black'),
    url('fonts/VisueltPro-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/VisueltPro-Black.woff2') format('woff2'),
    url('fonts/VisueltPro-Black.woff') format('woff'),
    url('fonts/VisueltPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Abril';
  font-display: swap;
  src:
    local('Abril Regular'),
    url('fonts/AbrilFatface-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro';
  src: url('fonts/VisueltPro-LightItalic.eot');
  src:
    local('VisueltPro-LightItalic'),
    url('fonts/VisueltPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/VisueltPro-LightItalic.woff2') format('woff2'),
    url('fonts/VisueltPro-LightItalic.woff') format('woff'),
    url('fonts/VisueltPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Visuelt Pro';
  src: url('fonts/VisueltPro-Italic.eot');
  src:
    local('VisueltPro-Italic'),
    url('fonts/VisueltPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/VisueltPro-Italic.woff2') format('woff2'),
    url('fonts/VisueltPro-Italic.woff') format('woff'),
    url('fonts/VisueltPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Visuelt Pro';
  font-display: swap;
  src: url('fonts/VisueltPro-Medium.eot');
  src:
    local('VisueltPro-Medium'),
    url('fonts/VisueltPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/VisueltPro-Medium.woff2') format('woff2'),
    url('fonts/VisueltPro-Medium.woff') format('woff'),
    url('fonts/VisueltPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro';
  font-display: swap;
  src: url('fonts/VisueltPro-Black.eot');
  src:
    local('VisueltPro-Black'),
    url('fonts/VisueltPro-Black.eot?#iefix') format('embedded-opentype'),
    url('fonts/VisueltPro-Black.woff2') format('woff2'),
    url('fonts/VisueltPro-Black.woff') format('woff'),
    url('fonts/VisueltPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro';
  font-display: swap;
  src: url('fonts/VisueltPro-Bold.eot');
  src:
    local('VisueltPro-Bold'),
    url('fonts/VisueltPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/VisueltPro-Bold.woff2') format('woff2'),
    url('fonts/VisueltPro-Bold.woff') format('woff'),
    url('fonts/VisueltPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro';
  font-display: swap;
  src: url('fonts/VisueltPro-Light.eot');
  src:
    local('VisueltPro-Light'),
    url('fonts/VisueltPro-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/VisueltPro-Light.woff2') format('woff2'),
    url('fonts/VisueltPro-Light.woff') format('woff'),
    url('fonts/VisueltPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Visuelt Pro';
  font-display: swap;
  src: url('fonts/VisueltPro-BlackItalic.eot');
  src:
    local('VisueltPro-BlackItalic'),
    url('fonts/VisueltPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/VisueltPro-BlackItalic.woff2') format('woff2'),
    url('fonts/VisueltPro-BlackItalic.woff') format('woff'),
    url('fonts/VisueltPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'GT Cinetype Regular';
  src: url('fonts/110de0bbe7344f96136d5cedd6608f9d.eot');
  src:
    local('110de0bbe7344f96136d5cedd6608f9d'),
    url('fonts/110de0bbe7344f96136d5cedd6608f9d.woff2') format('woff2'),
    url('fonts/110de0bbe7344f96136d5cedd6608f9d.woff') format('woff'),
    url('fonts/110de0bbe7344f96136d5cedd6608f9d.ttf') format('truetype'),
    url('fonts/110de0bbe7344f96136d5cedd6608f9d.svg#GT Cinetype Regular') format('svg');
}

a {
  text-decoration: none;
  color: #000;
  transition: color ease-in-out 1s;
}

a:active,
a:hover {
  outline: 0;
}

html {
  font-size: 0.52vw;
}

body {
  margin: 0px;
  font-family: 'Visuelt Pro';
  color: #000;
  /*max-height: 100vh;*/
  overflow-x: hidden;
  background-color: #363636;
}

.black {
  color: #e0e1e4;
}

.black a {
  color: #e0e1e4;
}

.red {
  color: #f94444;
}

.half-opacity {
  opacity: 0.5;
}
#luxy {
  max-height: 100vh !important;
}

.page-content #luxy {
  max-height: none !important;
}

.page-content {
  color: #e0e1e4;
}

.page-content a {
  color: #e0e1e4;
}

.page-content.white-bg a.logo {
  color: #363636;
}

.page-content a.navigation__arrow svg path {
  transition: all 0.3s ease-in;
}

.page-content a.navigation__arrow:hover svg path {
  fill: #ffffffb5;
  transition: all 0.3s ease-in;
}

.page-content.white-bg a.navigation__arrow svg path {
  fill: #363636;
  transition: all 0.3s ease-in;
}

.page-content.white-bg a.navigation__arrow:hover svg path {
  fill: #363636a1;
  transition: all 0.3s ease-in;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 50vh;
  top: 0px;
  z-index: 999;
  background-color: #363636;
  flex-direction: column;
  transition: top 0.8s ease-in-out 0.3s;
}

.preloader.hide {
  top: -50vh;
  transition: top 0.8s ease-in-out 0.3s;
}

.preloader-bottom {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 50vh;
  bottom: 0px;
  z-index: 999;
  background-color: #363636;
  flex-direction: column;
  transition: bottom 0.8s ease-in-out 0.3s;
}

.preloader-bottom.hide {
  bottom: -50vh;
  transition: bottom 0.8s ease-in-out 0.3s;
}

.percent {
  color: #e0e1e4;
  font-size: 3.2rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.bar {
  width: 30vw;
  margin-top: 30px;
  opacity: 1;
  transition:
    width 0.3s ease-in-out,
    opacity 0.1s 0.3s;
}

.preloader.hide .percent {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.preloader.hide .bar {
  width: 100vw;
  opacity: 0;
  transition:
    width 0.3s ease-in-out,
    opacity 0.1s ease-in-out 0.3s;
}

.barconfrm {
  width: 1%;
  padding: 2px 0px;
  background-color: #f94444;
}

.loading {
  position: relative;
  display: inline-block;
  opacity: 0;
  transform: rotateX(-90deg);
  color: #e0e1e4;
  font-size: 1.8rem;
  font-weight: 500;
}

.loading__wrapper {
  position: absolute;
  top: -30px;
  transition: opacity 0.3s ease-in-out;
}

.preloader-bottom.hide .loading__wrapper {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;
}

.let5 {
  padding-right: 3px;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

.let8 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.9s;
}

.let9 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 2s;
}

.let10 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 2.1s;
}

.let11 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 2.1s;
}

.let12 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 2.2s;
}

.let13 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 2.3s;
}

.let14 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 2.4s;
}

@keyframes drop {
  10% {
    opacity: 0.5;
  }

  20% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }

  80% {
    opacity: 1;
    top: 3.78em;
    transform: rotateX(-360deg);
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    top: 6.94em;
  }
}

.circle-follow {
  position: fixed;
  background-color: #f94444;
  opacity: 0.7;
  width: 2.0833vw;
  height: 2.0833vw;
  left: -1.041vw;
  top: -1.041vw;
  border-radius: 100%;
  transform: scale(1);
}

.black .circle-follow {
  opacity: 0.8;
}

.circle-follow.gif {
  background-image: url('img/footer.gif');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0px;
  left: 1vw;
  top: -14vw;
  width: 21vw;
  height: 13.2vw;
  opacity: 1 !important;
  z-index: 200;
}

.circle-follow.gif-copyright {
  background-image: url('img/copyright.gif');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 0px;
  left: -22vw;
  top: -14vw;
  width: 21vw;
  height: 13.2vw;
  opacity: 1 !important;
  z-index: 200;
}

.parallax {
  /* background-image: url(img/main-bg__mylo.png); */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-position: left 2%;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  transition: background ease-in-out 1.2s 0.1s;
}

.svg__wrapper {
  position: fixed;
  top: -25vh;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.second-screen .parallax {
  background-position: center 44%;
  transition: background ease-in-out 1.2s 0.1s;
  background-size: 120%;
}

.page-content .parallax {
  background-size: 120%;
}

.page-content.second-screen .parallax {
  background-size: 130%;
}

.third-screen .parallax {
  background-position: center 70%;
  transition: background ease-in-out 1.2s 0.1s;
  background-size: 100%;
}

.fourth-screen .parallax {
  /*background-image: url(img/contact-bg.png)!important;*/
  background-position: center 100%;
  transition: background ease-in-out 1.2s 0.1s;
  background-size: 120%;
}

/**/
.navigation {
  position: fixed;
  left: 2.45%;
  top: 12vh;
  z-index: 2;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 88vh;
}

.navigation .navigation__arrow {
  transform: translateX(-110%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.page-content .navigation .navigation__arrow {
  transform: translateX(0vw);
  transition: all 0.3s ease-in-out;
}

.page-content .navigation .navigation__arrow:hover {
  transform: translateX(-0.5vw);
  transition: all 0.3s ease-in-out;
}

.navigation__count {
  position: fixed;
  top: 0px;
  bottom: 0px;
  margin: auto 0px;
  max-height: 11vh;
  left: 2.45%;
  transition: all 0.5s ease-in-out;
  z-index: 106;
}

.animate .navigation__count {
  left: -130%;
  transition: all 0.5s ease-in-out;
}

.page-content .navigation__count {
  left: -130%;
  transition: all 0.5s ease-in-out;
}

.navigation__line {
  width: 0px;
  height: 3px;
  background: #e0e1e4;
  margin-bottom: 3.241vh;
  transition: width ease-in-out 0.5s 0.5s;
  z-index: 3;
  cursor: pointer;
}

.navigation__line:last-child {
  margin-bottom: 0px;
}

.navigation__line {
  width: 0px;
  transition: width ease-in-out 0.5s 0.5s;
}

.black.second-screen .navigation__line.about {
  width: 2.344vw;
  animation-name: activeLine;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-delay: 0.5s;
}

.black.third-screen .navigation__line.works {
  width: 2.344vw;
  transition: width ease-in-out 0.5s 0.5s;
}

.black.fourth-screen .navigation__line.contacts {
  width: 2.344vw;
  transition: width ease-in-out 0.5s 0.5s;
}

@keyframes activeLine {
  0% {
    width: 0px;
  }

  25% {
    width: 1.563vw;
  }

  100% {
    width: 2.344vw;
  }
}

.black .navigation__line {
  width: 1.563vw;
}

.black .navigation__line:first-child {
  transition: width ease-in-out 0.2s 0.5s;
}

.black .navigation__line:nth-child(3) {
  transition: width ease-in-out 0.4s 0.5s;
}

.black .navigation__line:last-child {
  transition: width ease-in-out 0.5s 0.5s;
}

.navigation__scrolldown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(0px);
  transition: transform ease-in-out 1s;
  cursor: pointer;
}

.page-content .navigation__scrolldown {
  transform: translateY(120%);
}

.navigation__scrolldown:hover {
  transform: translateY(20px);
  transition: transform ease-in-out 1s;
}

.navigation__scrolldown-text {
  transform: rotate(90deg);
  padding-top: 6.486vw;
  letter-spacing: 1.09em;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 500;
  color: #e0e1e4;
}

.navigation__scrolldown-line {
  height: 4.427vw;
  width: 1px;
  background: #e0e1e4;
  margin-left: 0.3vw;
  margin-top: 0.3vw;
}

.white-bg .navigation__scrolldown.animate {
  transform: translateY(200px);
  transition: transform ease-in-out 1s;
}

.fourth-screen .navigation__scrolldown {
  transform: translateY(120%);
  transition: transform ease-in-out 1s;
}

.first-screen .navigation__scrolldown {
  transform: translateY(120%);
  transition: transform ease-in-out 1s;
}

/**/
header.header {
  position: fixed;
  /*top: -10vh;*/
  top: 4vh;
  opacity: 0;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0px 2.45%;
  z-index: 110;
  /*transition: top ease-in-out 1s;*/
  transition: opacity ease-in-out 1s;
}

header.header.animate {
  /*top: 4vh;*/
  opacity: 1;
}

.main-wrapper {
  overflow-y: hidden;
  max-height: 100vh;
}

.page-content .main-wrapper {
  overflow-y: initial;
  max-height: none;
}

/**/
.content {
  overflow: hidden;
  transform: translate(0px, 0px);
  transition: transform cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}

.second-screen .content {
  transform: translate(0px, -100vh);
  transition: transform cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}

.third-screen .content {
  transform: translate(0px, -200vh);
  transition: transform cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}

.fourth-screen .content {
  transform: translate(0px, -300vh);
  transition: transform cubic-bezier(0.645, 0.045, 0.355, 1) 1s;
}

/**/

/**/
.main-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: 'Neuton'; */
  /* font-family: 'Cormorant SC', serif; */
  flex-direction: column;
  position: relative;
}

.main-screen__big-text {
  letter-spacing: 0.8em;
  font-size: 9rem;
  text-align: right;
  margin-right: -0.8em;
  line-height: 7.6rem;
  font-weight: 700;
  position: relative;
  /* transform: scale(0.9); */
  color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.main-screen__big-text .block {
  visibility: visible;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-screen__big-text .visible {
  color: transparent;
  -webkit-text-stroke: 3px #363636;
  font-size: 8.97rem;
  z-index: 102;
  position: static;
  transform: none;
}

.animate .main-screen__big-text .block span {
  color: #363636;
}

.animate .main-screen__big-text .block span:hover {
  color: transparent !important;
  transition: color 0.1s ease-in-out 0s !important;
}

.main-screen__big-text .block span.one {
  transition: color 0.3s ease-in-out 0.6s;
}

.main-screen__big-text .block span.two {
  transition: color 0.3s ease-in-out 0.7s;
}

.main-screen__big-text .block span.three {
  transition: color 0.3s ease-in-out 0.8s;
}

.main-screen__big-text .block span.four {
  transition: color 0.3s ease-in-out 0.9s;
}

.main-screen__big-text .block span.five {
  transition: color 0.3s ease-in-out 1s;
}

.main-screen__big-text .block span.six {
  transition: color 0.3s ease-in-out 1.1s;
}

.main-screen__big-text .block span.seven {
  transition: color 0.3s ease-in-out 1.3s;
}

.main-screen__big-text .block span.eight {
  transition: color 0.3s ease-in-out 1.4s;
}

.main-screen__big-text .block span.nine {
  transition: color 0.3s ease-in-out 1.5s;
}

.animate .main-screen__big-text .block span.one {
  transition: color 0.3s ease-in-out;
}

.animate .main-screen__big-text .block span.two {
  transition: color 0.3s ease-in-out 0.1s;
}

.animate .main-screen__big-text .block span.three {
  transition: color 0.3s ease-in-out 0.2s;
}

.animate .main-screen__big-text .block span.four {
  transition: color 0.3s ease-in-out 0.3s;
}

.animate .main-screen__big-text .block span.five {
  transition: color 0.3s ease-in-out 0.4s;
}

.animate .main-screen__big-text .block span.six {
  transition: color 0.3s ease-in-out 0.5s;
}

.animate .main-screen__big-text .block span.seven {
  transition: color 0.3s ease-in-out 0.6s;
}

.animate .main-screen__big-text .block span.eight {
  transition: color 0.3s ease-in-out 0.7s;
}

.animate .main-screen__big-text .block span.nine {
  transition: color 0.3s ease-in-out 0.8s;
}

.animate .main-screen__big-text {
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.main-wrapper .main-screen__tex .main-screen__big-text .block.effect span {
  transition: color 0.1s ease-in-out 0s !important;
}

.main-screen__text {
  font-size: 5.15rem;
  font-weight: 400;
  color: transparent;
  -webkit-text-stroke: 1px #363636;
  opacity: 0;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.animate .main-screen__text {
  opacity: 1;
  color: #363636;
  transition: all 0.5s ease-in-out;
}

.main-screen__text span {
  transition: all 0.5s ease-in-out;
}

.main-screen__text span:hover {
  color: transparent;
  transition: all 0.5s ease-in-out;
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  margin-right: 0.885vw;
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  position: relative;
  display: block;
  -webkit-text-stroke: 2px transparent;
  z-index: 101;
}

.logo:hover {
  transition: all ease-in 0.3s;
  color: #ffffffb5;
}

.black .logo:hover {
  transition: all ease-in 0.3s;
  color: #ffffffb5;
}

.logo:hover .visible {
  letter-spacing: 2px;
  transition: all 0.4s ease;
  transform: translate(-50%, -50%);
}

.black .logo:hover .visible {
  color: #ffffffb5;
}

.white-bg .logo:hover .visible {
  color: #363636a1;
}

.logo::after {
  border-bottom: 2px solid #f94444;
  color: #363636a1;
  transition: width ease 0.3s;
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  right: 50%;
  width: 0%;
}

.logo:hover::after {
  width: 58%;
  transition:
    width ease 0.3s,
    color ease 0.3s;
}

.logo::before {
  border-bottom: 2px solid #f94444;
  color: #363636a1;
  transition:
    width ease 0.3s,
    color ease 0.3s;
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0%;
}

.logo:hover::before {
  width: 58%;
  transition:
    width ease 0.3s,
    color ease 0.3s;
}

.logo-circle {
  position: absolute;
  top: -20%;
  left: -6%;
  background-color: #f94444;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  z-index: -1;
  transform: scale(1);
  transition: all 0.5s ease;
}

.logo:hover .logo-circle {
  transform: scale(0);
  transition: all 0.5s ease;
}

/**/
.menu {
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  position: relative;
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
  z-index: 110;
}

.menu__item {
  padding: 0px 0.5vw;
  margin: 0.1vw 0.5vw 0 0.5vw;
  display: flex;
  height: 100%;
  border-radius: 6px;
  align-items: center;
  transition: all 0.5s ease-in;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  color: #ffffffb5;
}

.menu__item span {
  display: block;
}

a.menu__item {
  transition: all 0.3s ease-in;
  color: #363636a1;
}

.black a.menu__item {
  transition: all 0.3s ease-in;
  color: #ffffffb5;
}

div.white-bg .menu__item,
div.white-bg a.menu__item {
  transition: all 0.3s ease-in;
  color: #363636a1;
}

.visible {
  transition: all 0.4s ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__item:hover .visible {
  letter-spacing: 2px;
  /* color: #ffffffb5; */
  transition: all 0.4s ease-in-out;
  transform: translate(-50%, -50%);
}

.black .menu__item:first-child {
  color: #ffffffb5;
  transition: all 0.3s ease-in-out;
}

.white-bg .menu__item:first-child {
  color: #363636a1;
  transition: all 0.3s ease-in-out;
}

.block {
  visibility: hidden;
}

.menu::after {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #e0e1e4;
  position: absolute;
  bottom: -1px;
  left: 9.5%;
  max-width: 4px;
  margin: auto;
  transition: left ease-in-out 0.5s;
}

.first-screen .menu::after {
  background: #363636;
}

.black .menu::after {
  background: #e0e1e4;
  transition: all 0.5s ease;
}

.white-bg .menu::after {
  background: #363636;
  transition: all 0.5s ease;
}

.menu__item::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #f94444;
  position: absolute;
  left: -100%;
  transition: left ease-in-out 0.5s;
}

.menu__item:hover::before {
  left: 0px;
  transition: left ease-in-out 0.5s;
  top: 50%;
}

.menu__item:first-child {
  color: #000;
  transition: all 0.3s ease;
}

.second-screen .menu__item.about {
  color: #e0e1e4;
  transition: all 0.3s ease;
}

.third-screen .menu__item.works {
  color: #e0e1e4;
  transition: all 0.3s ease;
}

.fourth-screen .menu__item.contacts {
  color: #e0e1e4;
  transition: all 0.3s ease;
}

.first-screen .menu__item.contacts {
  color: #363636a1;
}

.white-bg.menu__item:first-child {
  color: #363636;
  transition: all 0.3s ease;
}

.white-bg.second-screen .menu__item.about {
  color: #363636;
  transition: all 0.3s ease;
}

.white-bg.third-screen .menu__item.works {
  color: #363636;
  transition: all 0.3s ease;
}

.white-bg.fourth-screen .menu__item.contacts {
  color: #363636;
  transition: all 0.3s ease;
}

.second-screen .menu::after {
  left: 33.5%;
  transition: all 0.3s ease;
}

.third-screen .menu::after {
  left: 60%;
  transition: all 0.3s ease;
}

.fourth-screen .menu::after {
  left: 86%;
  transition: all 0.3s ease;
}

/* .page-content .menu {
    opacity: 0;
    transition: opacity ease-in-out .5s;
} */
/**/

.footer-social-icons {
  display: flex;
  align-items: center;
}

.footer-social-icons .footer-social-icons__item {
  width: 1.1vw;
  min-height: 0.839vw;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px 5px 0px 5px;
  transition: margin 0.5s ease-in-out;
}

.footer-social-icons .footer-social-icons__item .linkedin {
  min-height: 3.4rem;
}

.footer-social-icons .footer-social-icons__item:last-child {
  margin: 0px;
}

.footer-link {
  position: relative;
  transition: all 0.5s ease-in;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.footer-social-icons .footer-social-icons__item.tg {*/
/*    background-image: url('img/icons/tgBlack.svg');*/
/*    transition: .1s ease all;*/
/*}*/
/*.footer-social-icons .footer-social-icons__item.fb {*/
/*    background-image: url('img/icons/fbBlack.svg');*/
/*    transition: .1s ease all;*/
/*}*/

/*.footer-social-icons .footer-social-icons__item.tg:hover {*/
/*    background-image: url('img/icons/tgBlack__filled.png');*/
/*    transition: .1s ease all;*/
/*}*/
/*.footer-social-icons .footer-social-icons__item.fb:hover {*/
/*    background-image: url('img/icons/fbBlack__filled.png');*/
/*    transition: .1s ease all;*/
/*}*/

/*.black .footer-social-icons .footer-social-icons__item.tg, .page-content .footer-social-icons .footer-social-icons__item.tg {*/
/*    background-image: url('img/icons/tgblack.svg');*/
/*    transition: all ease-in-out .4s;*/
/*}*/
/*.black .footer-social-icons .footer-social-icons__item.fb, .page-content .footer-social-icons .footer-social-icons__item.fb {*/
/*    background-image: url('img/icons/fbblack.svg');*/
/*    transition: all ease-in-out .4s;*/
/*}*/

/* */

.scroll-to-icon {
  width: 20px;
  height: 30px;
  max-width: 20px;
  max-height: 30px;
  position: absolute;
  top: 93vh;
  left: 0px;
  right: 0px;
  margin: auto;
  box-shadow: inset 0 0 0 2px #e0e1e4;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.25s;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.scroll-to-icon:after {
  content: '';
  width: 4px;
  height: 6px;
  background: #e0e1e4;
  margin-left: 8px;
  top: 8px;
  border-radius: 2px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
  position: absolute;
  transition: background 0.25s;
}

@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }
}

.black .scroll-to-icon {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* */
/**/
.screen {
  margin-left: 12.5vw;
  padding-top: 21.222vh;
  padding-bottom: 13.222vh;
  padding-right: 2.708vw;
  position: relative;
  display: block;
  transition: padding ease-in-out 1s;
}

.screen-image img {
  transition: all ease-in-out 1s;
  height: 66vh;
}

.fourth-screen .screen-image img {
  height: 100vh;
}

.screen.animate {
  padding: 0px;
  transition: padding ease-in-out 1s;
}

.screen-image {
  margin-right: 1vw;
  max-height: 65.926vh;
  width: 55.26vw;
  overflow: hidden;
  /* border-radius: 5px; */
  transition: all 1s ease-in-out;
  transform: scale(0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #363636;
}

.screen-image .blur {
  display: block;
  position: absolute;
  top: -10%;
  width: 150%;
  height: 110%;
  left: -5vw;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.screen-image:hover .blur {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.page-content .screen-image:hover .blur {
  opacity: 0;
}

.main-wrapper .screen-image img.parallaxImg {
  transition: none;
}

div.second-screen .second-screen .screen-image {
  margin-right: 3.1vw;
  transition: all 1s ease-in-out;
  transform: scale(1);
}

div.third-screen .third-screen .screen-image {
  margin-right: 3.1vw;
  transition: all 1s ease-in-out;
  transform: scale(1);
}

div.fourth-screen .fourth-screen .screen-image {
  margin-right: 3.1vw;
  transition: all 1s ease-in-out;
  transform: scale(1);
}

div .main-wrapper .screen.animate .screen-image {
  max-height: 100vh;
  margin-right: 0px;
  width: 61.35vw;
  border-radius: 0px;
  height: 100vh;
  transition: all ease-in-out 1s;
  transform: scale(1);
}

div .main-wrapper .screen.animate .screen-image img {
  height: 120vh;
  transition: all ease-in-out 1s;
}

.asyncImage {
  transition: all 0.3s ease-in-out;
}

.screen-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.screen__title {
  position: absolute;
  left: 0px;
  margin: auto;
  overflow: hidden;
  transition: all ease-in-out 1s;
  z-index: 2;
  padding-bottom: 8.5vh;
}

.screen.animate .screen__title {
  padding-bottom: 0px;
  transition: all ease-in-out 1s;
}

.screen__title-text {
  display: block;
  font-weight: 500;
  font-size: 7.5rem;
  color: #e0e1e4;
  transform: translateX(-100%);
  transition:
    transform ease-in-out 0.5s,
    color 0.5s ease-in-out;
  -webkit-text-stroke: 1px #ffff;
}

.screen__title-text:hover {
  color: transparent;
  transition:
    transform ease-in-out 0.5s,
    color 0.5s ease-in-out;
}

div.second-screen .second-screen .screen__title-text {
  transition:
    transform 0.5s ease-in-out 0.5s,
    color 0.5s ease-in-out;
  transform: translateX(0px);
}

.page-content .page-content .screen__title-text {
  transition:
    transform 0.5s ease-in-out 0.5s,
    color 0.5s ease-in-out;
  transform: translateX(0px);
}

div.third-screen .third-screen .screen__title-text {
  transition:
    transform 0.5s ease-in-out 0.5s,
    color 0.5s ease-in-out;
  transform: translateX(0px);
}

div.fourth-screen .fourth-screen .screen__title-text {
  transition:
    transform 0.5s ease-in-out 0.5s,
    color 0.5s ease-in-out;
  transform: translateX(0px);
}

.title-lines {
  margin-top: 2.5vh;
  margin-bottom: 3vh;
  transform: translateX(-100%);
  transition: transform ease-in-out 0.5s;
}

div.second-screen .second-screen .title-lines {
  transition: transform ease-in-out 0.5s 0.6s;
  transform: translateX(0px);
}

.page-content .page-content .title-lines {
  transition: transform ease-in-out 0.5s;
  transform: translateX(0px);
}

div.third-screen .third-screen .title-lines {
  transition: transform ease-in-out 0.5s 0.6s;
  transform: translateX(0px);
}

div.fourth-screen .fourth-screen .title-lines {
  transition: transform ease-in-out 0.5s 0.6s;
  transform: translateX(0px);
}

.title-lines__item {
  width: 100px;
  height: 3px;
  background: #f94444;
  position: relative;
  transition: margin-left ease-in-out 2s;
}

.title-lines__item:last-child {
  margin-top: 10px;
  margin-left: 0px;
  animation: liness 0.1s ease 1 normal running 0s forwards;
}

.title-lines__item:first-child {
  animation: liness2 0.1s ease 1 normal running 0s forwards;
}

@media (prefers-reduced-motion: no-preference) {
  div.second-screen .second-screen .title-lines__item:last-child {
    animation: lines 2s ease 1 normal running 0.8s forwards;
  }

  .page-content .page-content .title-lines__item:last-child {
    animation: lines 2s ease 1 normal running 0.8s forwards;
  }

  div.third-screen .third-screen .title-lines__item:last-child {
    animation: lines 2s ease 1 normal running 0.8s forwards;
  }

  div.fourth-screen .fourth-screen .title-lines__item:last-child {
    animation: lines 2s ease 1 normal running 0.8s forwards;
  }

  div.second-screen .second-screen .title-lines__item:first-child {
    animation: lines2 2s ease 1 normal running 0.8s forwards;
  }

  .page-content .page-content .title-lines__item:first-child {
    animation: lines2 2s ease 1 normal running 0.8s forwards;
  }

  div.third-screen .third-screen .title-lines__item:first-child {
    animation: lines2 2s ease 1 normal running 0.8s forwards;
  }

  div.fourth-screen .fourth-screen .title-lines__item:first-child {
    animation: lines2 2s ease 1 normal running 0.8s forwards;
  }
}

.screen.animate .title-lines__item:last-child {
  animation: lines 0s ease 1 normal running 0s forwards !important;
}

.screen.animate .title-lines__item:first-child {
  animation: lines2 0s ease 1 normal running 0s forwards !important;
}

@keyframes lines {
  0% {
    margin-left: 0px;
  }

  25% {
    margin-left: 35px;
  }

  100% {
    margin-left: 72px;
  }
}

@keyframes lines2 {
  0% {
    margin-left: 38px;
  }

  25% {
    margin-left: 24px;
  }

  100% {
    margin-left: 0vw;
  }
}

@keyframes liness {
  0% {
    margin-left: 72px;
  }

  75% {
    margin-left: 35px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes liness2 {
  0% {
    margin-left: 0vw;
  }

  75% {
    margin-left: 24px;
  }

  100% {
    margin-left: 38px;
  }
}

.title-lines__item::after {
  content: '';
  display: block;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #f94444;
  position: absolute;
  left: -2px;
}

.title-lines__item::before {
  content: '';
  display: block;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #f94444;
  position: absolute;
  right: -2px;
}

.screen__title-subtitle {
  font-size: 2rem;
  color: #e0e1e4;
  letter-spacing: 0.15em;
  font-weight: 300;
  transform: translateX(-100%);
  transition: transform ease-in-out 0.5s;
}

.screen__title-subtitle .footer-social-icons {
  justify-content: start;
}

.screen__title-subtitle .small-text {
  color: white;
  width: auto;
  text-align: start;
  flex-direction: row;
  margin: 0 0 15px 0;
}

.screen__title-subtitle .small-text a.text {
  color: white;
  font-size: 2rem;
}

.screen__title-subtitle .footer-link:hover .visible {
  color: #b4b4b4a1;
  letter-spacing: 4px;
}

div.second-screen .second-screen .screen__title-subtitle {
  transition: transform ease-in-out 0.5s 0.7s;
  transform: translateX(0px);
}

.page-content .page-content .screen__title-subtitle {
  transition: transform ease-in-out 0.5s 0.7s;
  transform: translateX(0px);
}

div.third-screen .third-screen .screen__title-subtitle {
  transition: transform ease-in-out 0.5s 0.7s;
  transform: translateX(0px);
}

div.fourth-screen .fourth-screen .screen__title-subtitle {
  transition: transform ease-in-out 0.5s 0.7s;
  transform: translateX(0px);
}

.screen-order {
  display: block;
  color: #e0e1e4;
  font-size: 13rem;
  font-family: 'Abril';
  position: absolute;
  top: 41vh;
  bottom: 0px;
  margin: auto;
  max-height: 16.204vh;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.screen-order:hover {
  color: transparent;
  -webkit-text-stroke: 3px #e0e1e4;
  transition: all ease-in-out 0.5s;
}

div.second-screen .second-screen .screen-order {
  transition: all ease-in-out 0.5s;
  opacity: 1;
}

div.third-screen .third-screen .screen-order {
  transition: all ease-in-out 0.5s;
  opacity: 1;
}

div.fourth-screen .fourth-screen .screen-order {
  transition: all ease-in-out 0.5s;
  opacity: 1;
}

.third-screen .screen__title-subtitle,
.second-screen .screen__title-subtitle {
  margin-bottom: 7.5vh;
}

.page-content .main-wrapper .screen .screen-order {
  opacity: 0;
  transition: all ease-in-out 1s 0.5s;
}

.screen__button {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  border: 2px solid #f94444;
  border-radius: 50px;
  padding: 1.1vh 1.51vw;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in-out 0.9s;
  transform: translateX(-100%);
}

.screen__button::before {
  content: '';
  display: block;
  position: absolute;
  top: -17px;
  left: 0%;
  width: 0.7vw;
  height: 200%;
  background: #f94444;
  z-index: -1;
  transform: rotate(15deg);
  opacity: 0;
  transition:
    opacity ease-in-out 0.3s,
    left linear 0s,
    width linear 0.6s 0s;
}

.screen__button::after {
  content: '';
  display: block;
  position: absolute;
  top: -17px;
  right: 0%;
  width: 0.7vw;
  height: 200%;
  background: #f94444;
  z-index: -1;
  transform: rotate(15deg);
  opacity: 0;
  transition:
    opacity ease-in-out 0.3s,
    right linear 0s,
    width linear 0.6s 0s;
}

.screen__button:hover::before {
  transition:
    opacity ease-in-out 0.2s,
    left linear 0.2s,
    width linear 0.2s 0.2s;
  opacity: 1;
  width: 70%;
  left: 45%;
  height: 200%;
}

.screen__button:hover::after {
  transition:
    opacity ease-in-out 0.2s,
    right linear 0.2s,
    width linear 0.2s 0.2s;
  opacity: 1;
  width: 70%;
  right: 45%;
  height: 200%;
}

.screen__button:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*box-shadow: 0px 0px 17px 5px rgba(255, 255, 255, 0.2);*/
}

div.screen .screen__button {
  transition: transform 0.9s ease-in-out 0.5s;
  transform: translateX(0px);
}

.page-content .page-content .screen__button {
  transition: transform 0.9s ease-in-out 0.5s;
  transform: translateX(0px);
}

div.screen .screen__button {
  transition: transform 0.9s ease-in-out 0.5s;
  transform: translateX(0px);
}

.screen.animate .screen__button {
  transition: transform 0.9s ease-in-out 0.5s;
  transform: translateX(-100%);
}

/* page-content */
.page-content__main {
  color: #363636;
  font-size: 16px;
  position: relative;
  z-index: 5;
}

.meme {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  z-index: 99999;
  max-width: 640px;
  max-height: 360px;
}

.x {
  position: fixed;
  height: 10vw;
  width: 10vw;
  max-height: 10vw;
  max-width: 10vw;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 99999;
  -webkit-animation: x 13s linear infinite alternate;
  animation: x 13s linear infinite alternate;
}

.y {
  height: 10vw;
  width: 10vw;
  -webkit-animation: y 7s linear infinite alternate;
  animation: y 7s linear infinite alternate;
}

@-webkit-keyframes x {
  100% {
    transform: translateX(calc(100vw - 10vw));
  }
}

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 10vw));
  }
}

@-webkit-keyframes y {
  100% {
    transform: translateY(calc(100vh - 10vw));
  }
}

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 10vw));
  }
}

/* about page */

/* text-part */
.page-content__section {
  padding: 50px 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 110;
  transition: all 0.3s ease;
  background: #34353a;
  color: #e0e1e4;
}

.page-content__title {
  width: 38.65vw;
  font-weight: 300;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  z-index: 110;
  color: #e0e1e4;
}

.page-content__title-count .text-red {
  color: #f94444;
}

.page-content__title-main {
  margin: 0px 1.041vw;
  font-weight: 700;
}

.page-content__title-line {
  width: 9.895vw;
  height: 1px;
  background: #e0e1e4;
  margin-top: 5px;
}

.page-content__section:nth-child(2) .page-content__title-line {
  background: #e0e1e4;
}

.page-content__main-text {
  width: 61.35vw;
  font-style: italic;
  font-weight: 400;
  font-size: 2.3rem;
  letter-spacing: 0.25rem;
  line-height: 3.5rem;
  z-index: 105;
}

.page-content__main-subtitle {
  width: 61.35vw;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.25rem;
  line-height: 3.5rem;
  z-index: 105;
}

/* stack */

.stack {
  padding: 0px 8vw 0 8vw;
  transition: all 0.3s ease;
  background-color: #34353a;
  color: #e0e1e4;
  display: grid;
  gap: 3vw;
  grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
}

/* .stack__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5vw;
} */
.stack__item {
  display: flex;
  align-items: center;
  background: #3d3e42;
  flex-direction: column;
  border-radius: 10%;
  min-height: 220px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.stack__item-icon {
  max-height: 100px;
  max-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack__item:hover {
  background: #f9444452;
}

.stack__item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stack__item-text__title {
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 0.3rem;
  margin-top: 2rem;
  font-family: 'GT Cinetype Regular';
}

.exp {
  color: #ffffffb5;
  font-weight: 300;
  font-size: 1.6rem;
  margin-top: 10px;
}

/* page-footer */
footer.footer {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
  color: #363636;
}

.footer__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.footer-bigText {
  font-weight: 900;
  font-style: italic;
  font-size: 9rem;
  width: 33.333vw;
  text-align: center;
  z-index: 200;
}

.footer-bigText:last-child {
  opacity: 0;
  z-index: -1;
}

.small-text {
  font-size: 2rem;
  color: #e0e1e4;
  display: flex;
  align-items: center;
  flex-direction: column;
}
ul {
  padding-left: 17px;
}
li.small-text {
  display: list-item;
  padding-bottom: 10px;
}
.darker-text {
  color: #363636;
}
.text-center {
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  color: #e0e1e4;
  margin-bottom: 20px;
}

.small-text a.text {
  color: #363636;
  text-align: center;
  margin-right: 15px;
  display: flex;
  position: relative;
}

.footer-social-icons {
  justify-content: center;
  margin-top: 15px;
}

.background-circle {
  position: absolute;
  display: block;
  top: 4%;
  right: 30%;
}

.background-ellipse {
  position: absolute;
  display: block;
  top: 19%;
  left: -3%;
  z-index: 1;
}

.background-ellipse__second {
  position: absolute;
  display: block;
  top: -180%;
  right: 0%;
}

/* works page */

.page-content__projects {
  background-color: rgba(0, 0, 0, 0.8);
}

.projects {
  padding: 10vh 3.4vw 15vh 8vw;
}

.projects-title {
  width: 200vw;
  position: relative;
  left: -100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 900;
  font-size: 16.75rem;
  padding: 20vh 0 10vh 0;
}

.projects-title .projects-title__item {
  transition: all 0.5s ease-in-out;
  color: transparent;
  -webkit-text-stroke: 3px #e0e1e4;
}

.projects-title .projects-title__item.filled {
  color: #e0e1e4;
  transition: all 0.5s ease-in-out;
}

.projects-title .projects-title__item:hover {
  color: #e0e1e4;
  transition: all 0.5s ease-in-out;
}

.projects-title .projects-title__item.filled:hover {
  color: transparent;
  transition: all 0.5s ease-in-out;
}

.projects__item {
  width: 100%;
  display: flex;
  gap: 50px;
}

.projects__item.second {
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.__item-left {
  justify-content: flex-start;
}

.__item-right {
  justify-content: flex-end;
}

.single-project {
  display: flex;
  flex-direction: column;
}

.projects__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__item-img img.svg {
  max-width: 22vw;
}

.first .projects__item-img {
  width: 40vw;
  height: 34.63vw;
  background-image: linear-gradient(
    135.69deg,
    rgba(255, 93, 0, 0.69) -12.89%,
    rgba(255, 181, 139, 0.11) 47.33%,
    rgba(20, 0, 255, 0.43) 112.5%
  );
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 100%;
  background-position: center;
}

.projects__item-title {
  padding-top: 25px;
}

.projects__item-title .page-content__title {
  width: auto;
}

.second .projects__item-img {
  width: 35vw;
  height: 20vw;
  background-image: linear-gradient(
    135.69deg,
    rgba(255, 93, 0, 0.69) -12.89%,
    rgba(255, 181, 139, 0.11) 47.33%,
    rgba(20, 0, 255, 0.43) 112.5%
  );
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 100%;
  background-position: center;
}

.second .projects__item-img img {
  max-width: 8vw;
}

.last .projects__item-img img {
  max-width: 15.4vw;
}

.project__botton {
  border: none;
  border-bottom: 2px solid #f94444;
  color: #e0e1e4;
  border-radius: 0px;
  padding: 1.6vh 2px;
  transition: all ease-in-out 0.4s !important;
  box-sizing: border-box;
  margin-bottom: 47px;
  height: 55px;
}

.project__botton span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.h-full {
  height: 100%;
}

.project__botton.screen__button::before {
  height: 550%;
  transform: rotate(22deg);
  top: -250%;
  width: 0.05vw;
  transition:
    opacity ease-in-out 0.3s,
    left linear 0s,
    width linear 0.6s 0s;
}

.project__botton.screen__button::after {
  height: 550%;
  transform: rotate(22deg);
  top: -250%;
  width: 0.05vw;
  transition:
    opacity ease-in-out 0.3s,
    right linear 0s,
    width linear 0.6s 0s;
}

.project__botton.screen__button:hover::before {
  transition:
    opacity ease-in-out 0.2s,
    left linear 0.2s,
    width linear 0.2s 0.2s;
  left: 50%;
  width: 70%;
}

.project__botton.screen__button:hover::after {
  transition:
    opacity ease-in-out 0.2s,
    right linear 0.2s,
    width linear 0.2s 0.2s;
  right: 50%;
  width: 70%;
}

.project__botton:hover {
  padding: 2.5vh 0.9vw;
  transition: all ease-in-out 0.4s !important;
}

.projects__item.last {
  justify-content: space-between;
  padding-bottom: 50vh;
}

.last .single-project:first-child .projects__item-img {
  width: 35vw;
  height: 38.5vw;
  background-color: #97afc3;
}

.last .single-project:last-child {
  transform: translate(0, 55%);
}

.last .single-project:last-child .projects__item-img {
  width: 32vw;
  height: 32vw;
  background-color: #142f67;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.last .single-project:last-child .projects__item-img img {
  width: 50%;
}

.footer-link:before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #f94444;
  position: absolute;
  left: -100%;
  top: 50%;
  transition: left ease-in-out 0.5s;
}

.footer-link:hover:before {
  left: 0px;
  transition: left ease-in-out 0.5s;
}

.footer-link:hover .visible {
  letter-spacing: 2px;
  color: #363636a1;
  transition: all 0.4s ease-in-out;
  transform: translate(-50%, -50%);
}

.footer-link:hover .footer-social-icons__item {
  margin: 0px 10px 0px 0px;
  transition: margin 0.5s ease-in-out;
}

.footer-link.mail {
  display: block;
  max-width: 60%;
  padding: 0px 30px;
}

.footer-link.mail:before {
  top: 45%;
}

.footer-link.mail .text {
  margin: 0px;
}

.small-text.copyright {
  width: 33.333vw;
  z-index: 200;
}

.small-text.copyright .text {
  color: #363636a1;
}

.small-text.copyright .text:first-child {
  margin-bottom: 10px;
}

.mt {
  margin-top: 0.5vw;
}

.ml {
  margin-left: 5px;
}

.relative {
  position: relative;
}

.hover-underline {
  display: flex;
  cursor: pointer;
  margin-bottom: 0.5vw;
  position: relative;
  width: fit-content;
  margin-right: 25px;
}

.hover-underline::after {
  content: '';
  display: block;
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 13px;
  height: 13px;
  background-image: url('img/icons/copy-icon.svg');
  background-position: right;
  background-size: 13px;
  right: -23px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.hover-underline:hover::after {
  opacity: 1;
}

.hover-underline:hover {
  text-decoration: underline;
}

.mw-13 {
  max-width: 13px;
}

.scroll-down-link {
  background-image: url('img/icons/scroll-down-link.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 0;
  width: 0;
  max-height: 70px;
  max-width: 70px;
  position: sticky;
  color: #e0e1e4;
  text-align: center;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  transition:
    bottom 0.5s ease-in-out 0.5s,
    width 0s ease-in-out 0.5s,
    height 0s ease-in-out 0.5s;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

.page-content .scroll-down-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 88vh;
  bottom: initial;
  max-height: 70px;
  opacity: 1;
  height: 70px;
  width: 70px;
}

.scroll-down-link:hover {
  animation: none;
}

.scroll-down-link:after {
  content: '';
  position: absolute;
  display: block;
  bottom: -26%;
  width: 0;
  height: 39px;
  left: 39%;
  border-width: 0 5px 0 0;
  border-style: solid;
  border-color: #fafafa;
  border-radius: 2px;
  transform-origin: 100% 0;
  transition:
    all 0.3s ease-in-out,
    opacity 0s ease-in-out;
  opacity: 0;
  transform: rotate(-133deg);
}

.page-content .scroll-down-link:after {
  opacity: 1;
}

.scroll-down-link:hover::after {
  transform: rotate(-180deg);
  height: 85%;
  bottom: -60%;
  margin-left: 1px;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}

@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}

@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

.tip {
  position: absolute;
  top: -18vh;
  margin: auto;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  color: #e0e1e4;
  max-width: 330px;
  left: 0;
  right: 0;
}

.opacity {
  animation: opacity 1s ease-in-out;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Media */

@media (max-aspect-ratio: 14/10) {
  .parallax {
    background-size: 200%;
  }
}

@media screen and (max-width: 1199px) {
  html {
    font-size: 0.6vw;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 0.95vw;
  }

  .logo {
    font-size: 3rem;
  }

  .navigation__arrow svg {
    width: 5.3rem !important;
    height: 2.9rem !important;
  }

  .navigation__scrolldown-text {
    padding-top: 8.486vw;
  }

  .navigation {
    top: 7vh;
    height: 94vh;
    left: 6%;
  }

  .navigation__scrolldown-line {
    height: 10vh;
  }

  .navigation__scrolldown:hover {
    transform: translateY(110%);
  }

  header.header {
    top: 3vh;
    padding: 0px 6vw;
  }

  footer.footer {
    height: 30vw;
  }

  .footer__block {
    flex-wrap: wrap;
  }

  .footer-bigText {
    width: 40vw;
  }

  .small-text {
    width: 40vw;
  }

  .small-text.copyright {
    margin-top: 5vw;
  }

  .background-ellipse {
    display: none;
  }

  footer.footer {
    height: 60vw;
  }

  .footer-bigText {
    width: 100vw;
  }

  .small-text {
    width: 100vw;
    margin-top: 5vw;
    font-size: 2.5rem;
  }

  .background-ellipse__second {
    display: none;
  }

  .footer-social-icons .footer-social-icons__item {
    min-height: 2.5rem;
    width: 3.2rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 1vw;
  }

  .first .projects__item-img {
    width: 80vw;
    height: 70vw;
  }

  .last .single-project:first-child .projects__item-img {
    width: 45.5vw;
    height: 50vw;
  }

  .last .single-project:last-child {
    transform: translate(0, 120%);
  }

  .last .single-project:last-child .projects__item-img {
    width: 42vw;
    height: 42vw;
  }

  .second .projects__item-img {
    width: 67.5vw;
    height: 43.5vw;
  }

  .logo {
    font-size: 3.5rem;
  }

  .logo-circle {
    width: 4.7rem;
    height: 4.7rem;
  }

  .menu {
    font-size: 2.2rem;
  }

  .menu__item {
    margin-left: 1.2vw;
    margin-right: 1.2vw;
  }

  .navigation__arrow svg {
    width: 5.8rem !important;
    height: 3.4rem !important;
  }

  .navigation {
    top: 9vh;
    height: 92vh;
    z-index: -1;
  }

  .page-content .navigation {
    z-index: 120;
  }

  .navigation__count {
    left: 0%;
    top: auto;
    right: 0%;
    max-width: 18vw;
    margin: auto;
    transform: rotate(-90deg);
    max-height: 25vh;
  }

  .page-content .navigation__count {
    left: 0%;
    transition: all 0.5s ease-in-out;
    bottom: -10%;
  }

  .navigation__line {
    margin-bottom: 4vh;
  }

  .black.second-screen .navigation__line.about {
    width: 10vw;
  }

  .black.third-screen .navigation__line.works {
    width: 10vw;
  }

  .black.fourth-screen .navigation__line.contacts {
    width: 10vw;
  }

  .black .navigation__line {
    width: 4vw;
  }

  @keyframes activeLine {
    0% {
      width: 0px;
    }

    25% {
      width: 5vw;
    }

    100% {
      width: 10vw;
    }
  }

  .screen-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
  }

  .screen-order {
    top: 70vh;
  }

  .screen {
    margin-left: 6vw;
    padding-top: 15vh;
    padding-bottom: 15vh;
    padding-right: 6vw;
    height: 70vh;
  }

  .screen-image {
    width: 96%;
    max-height: 50vh;
    margin-right: 0px !important;
  }

  .screen__title {
    margin: 0px;
    bottom: auto;
    top: 63%;
    padding-bottom: 0px;
  }

  .title-lines {
    margin-top: 2vh;
    margin-bottom: 2.5vh;
  }

  .screen__title-subtitle {
    font-size: 2.5rem;
  }

  .third-screen .screen__title-subtitle,
  .second-screen .screen__title-subtitle {
    margin-bottom: 4.5vh;
  }

  .navigation__scrolldown.animate {
    transform: translateY(110%);
    transition: transform ease-in-out 1s;
  }

  .page-content .navigation__scrolldown.animate {
    transform: translateY(0px);
    transition: transform ease-in-out 1s;
  }

  .screen__button {
    font-size: 2.2rem;
    padding: 1.1vh 1vw;
    align-self: self-start;
    margin-bottom: 10vw;
  }

  .projects__item.second {
    flex-direction: column;
  }

  .screen-image img {
    /*height: 100%;*/
    /*left: -26vw;*/
    display: block;
    position: relative;
  }

  .screen {
    transition: all ease-in-out 1s;
  }

  .screen.animate {
    height: 100vh;
    transition: all ease-in-out 1s;
  }

  div .main-wrapper .screen.animate .screen-image {
    max-height: 65vh;
    width: 110%;
    height: 65vh;
  }

  div .main-wrapper .screen.animate .screen-image img {
    height: 100%;
  }

  .page-content.second-screen .parallax {
    background-size: 455%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 1.4vw;
  }

  .logo {
    font-size: 4rem;
  }

  .logo-circle {
    width: 5.2rem;
    height: 5.2rem;
  }

  .navigation__arrow svg {
    width: 7.3rem !important;
    height: 4.9rem !important;
  }

  .navigation__scrolldown-text {
    padding-top: 13.486vw;
  }

  .background-ellipse__second {
    right: -96%;
  }

  .background-ellipse {
    left: -57%;
  }

  .page-content__section {
    flex-wrap: wrap;
  }

  .page-content__title {
    width: 100%;
    margin-bottom: 7.5vw;
  }

  .page-content__main-text {
    width: 100%;
  }

  .page-content__title-line {
    width: 20vw;
  }

  .page-content__title-main {
    margin: 0px 3vw;
  }

  .parallax {
    background-size: 350%;
  }

  .second-screen .parallax {
    background-size: 420%;
  }

  .third-screen .parallax {
    background-size: 350%;
  }

  .fourth-screen .parallax {
    background-size: 420%;
  }

  .page-content .parallax {
    background-size: 420%;
  }
}

.st0 {
  opacity: 1e-2;
  fill: #e0e1e4;
  enable-background: new;
}

.st1 {
  font-family: 'VisueltPro-Black';
}

.st2 {
  font-size: 321px;
}
